
<!-- Note that simple_form_for must be set as output to be shown, not just the fields -->
<div class="text-center">
  <%= image_tag @post.image.url(:medium) %>
</div>

<%= render 'form' %>

  <div class="text-center edit-links">
    <%= link_to "Delete post", post_path(@post), method: :delete,
    data: { confirm: "Are you sure?" } %>
    |
    <%= link_to "cancel", posts_path %>

  </div>
